<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - DRE</title>
</head>
<body>
    <h1>Tratamento de Dados para DRE - Informações Gerais</h1>
    <p>Bem-vindo ao nosso sistema especializado para processamento de dados DRE.</p>

    <h2>Modelos de Dados:</h2>
    <ul>
        <li><a href="https://drive.google.com/uc?export=download&id=1MvaaoHyCcB85T6LuO1EWmGl259G6P2Qz">Movimentação de Estoque</a></li>
        <li><a href="https://drive.google.com/uc?export=download&id=1-SvAZs0izjIHUarTWf0bLhPnE6X9KJ6c">Conteúdo de Programação</a></li>
        <li><a href="https://drive.google.com/uc?export=download&id=1YRy80_Jdft3rIht9nWNZhUACmD1ZvwAH">Acompanhamento de Terceirizadas</a></li>
        <li><a href="https://drive.google.com/uc?export=download&id=1G6r7551I3NDW68m2apCBWeAUuMeLdDr1">Faturamento e Impostos</a></li>
        <li><a href="https://drive.google.com/uc?export=download&id=1mk_Co3eCiXQjMLVR9LvswbpsGfNSob_U">Despesas Contábeis</a></li>
        <li><a href="https://drive.google.com/uc?export=download&id=1bjXMhg_jJ4t5d0FPkG0sF_2HofDtLw2p">Pagamentos</a></li>
    </ul>
</body>
</html>
